@import 'vars';
@import 'mixins';

body {
    background-color: #d2fcfb;
    font-family: 'Courier New', Courier, monospace;
}

* {
    margin: 0;
    padding: 0;
}


summary {
  display: block;
}
h1{color: red($color: #000000);}

h2{color: black;
    font-size: larger;}


    
.bradcrm{font-weight: 100;
    font-size: 24px;
    line-height: 29px;}

.top-head {
    background: #4c7584;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-head__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: $ColorSelectSite;
}
.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

a{
    text-decoration: none;
    color: #000000;
}
.product {
width: 360px;
display: flex;
flex-direction: column;




&__img {
    width: 100%;
}


    &__content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__name {
        font-size: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: $colorText;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
    }

    &__price {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $ColorSelectSite;
    }
}

.breadcrumbs__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.breadcrumbs__link_site {
    font-weight: 700;
    color: $ColorSelectSite;
}

.filter{
    width: 360px;
 box-sizing: border-box;
 top: 18px;
 position: relative;
 z-index: 10;
 font-family: 'Courier New', Courier, monospace;
 


 &__content{
   background-color: #fff;
   padding: 0px 16px 16px;

 }

    &[open] {
        background: #FFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
    }


    &__summary{
display: flex;
align-items: center;
gap: 11px;
padding-left: 16px;
}
&__heading{
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

}

    &__item{  
margin-top: 16px;
    }
    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
       
    }
&__link-box{
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 24px 16px;
}

    &__head{
           font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
    padding: 8px 11px 11px 11px;
border-bottom: 1px solid #ebebeb;
border-left: 1px solid #ebebeb ;

    }

   
}

.sort{      
padding-top: 12px;
display: flex;
gap: 16px;
font-style: normal;
font-family: 'Courier New', Courier, monospace;

&__details{
    position: relative;
}

&__heading{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

&__summary{
    display: flex;
    gap: 10px;
    align-items: center;
}

&__box{
    background-color: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding:  7px 30px 11px 9px;
    position: absolute;
    left: -9px;
    top: 22px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

&__check{
    gap: 9px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6f6e6e;
}
}




.header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    
     &__left{
     display: flex;
     align-items: center;
     gap: 41px;
}
   
}   

.nav{
     background-color: #f3f3f3;
     box-shadow: 7px 5px 10px black;
     width: 232px;
     padding: 32px;
     box-sizing: border-box;
     position: absolute;
     top: 75px;
     right: 0;
     transition: right 0.3s;
     border-bottom: 1px solid black;
     border-left: 1px solid black;
    border-top: 1px solid black;
}



#burger{
    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked ~ .nav{
    right: -$widthBurgerMenu;
    
}
}

.box-content{
    overflow: hidden;
    
}
.product-box{
    @include centerflex();
    gap: $gapGrid;
}



.filter-sort{
height: 132px;
display: flex;
padding-top: 39px;
box-sizing: border-box;
position: relative;
gap: $gapGrid;
}